@font-face {
    font-family: "modenine";
    src: url('./fonts/modenine-font/Modenine-2OPd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/********************************************************************************
* Global Classes 
********************************************************************************/

.dexLogo {
    font-family: monospace;
    white-space: pre;
}

.pageTitle {
    font-family: modenine, monospace;
}

.fieldFont {
    font-family: modenine, monospace;
}

.formName {
    display: block;
    width: 100%;
    text-align: left;
    font-family: modenine, monospace;
    font-style: italic;
    background-color: #CCCCCC;
    border-style: none;
    font-size: 20px;
}

.highlight:focus {
    outline: none;
    background-color: black;
    color: white;
}


/********************************************************************************
* index.html
********************************************************************************/

#indexBody {
    font-family: modenine, monospace;
    background-color: #CCCCCC;
}

#loginContainer {
    border-style: solid;
    height: 450px;
    width: 550px;
    margin: auto;
    margin-top: 15vh;
    text-align: center;
    position: relative;
}

#smallLogo {
    font-size: 90px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 6vh;
}

#motto {
    font-style: italic;
    font-size: 12px;
    margin-top: 0;
}

#loginLabel {
    margin-top: 4vh;
    margin-bottom: 2vh;
    font-weight: normal;
}

#operatorInfoContainer {
    margin: auto;
    width: 450px;
    padding: 4px;
}

#operatorIDLabel {
    margin-bottom: 1vh;
    text-align: left;
}

#opIDInputBox {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 441.5px;
    height: 45px;
    margin: auto;
    font-size: 25px;
    font-family: modenine;
    text-transform: uppercase;
    background-color: #DBDBDB;
}

#loginBtn {
    border-style: solid;
    border-width: 1px;
    margin-top: 3vh;
    margin-bottom: 2vh;
    font-family: modenine;
    font-size: 20px;
    width: 100px;
    height: 50px;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.9);
    transition: all 0.15s ease;
    position: relative;
}

#loginBtn:hover {
    background-color: black;
    color: white;
}

#loginBtn:active {
    transform: translate(3px, 3px);
    box-shadow: none;
}

#systemVersionLabel {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    margin: 0;
}

/********************************************************************************
* main_hub.html
********************************************************************************/

@keyframes blinkBW {
    0%, 49% {
        background-color: white;
    }
    50%, 100% {
        background-color: black;
    }
}

#hubBody {
    padding-top: 20px;
    background-color: #CCCCCC;
}

#cornerLogo {
    font-weight: bold;
    font-size: 10px;
}

#mainContainer {
    width: 75%;
    margin: auto;
    text-align: center;
    font-family: modenine, monospace;
}

#welcomeMessage {
    margin-top: 12vh;
    font-size: 25px;
    margin-bottom: 8vh;
}

#buttonsContainer {
    /* display: flex;
    justify-content: center; */
}

#viewerBtn {
    display: block;
}

.buttonStyle {
    /*
    font-size: 30px;
    font-family: "modenine", monospace;
    border-style: solid;
    border-width: 1px;
    margin: auto;
    width: 400px;
    height: 300px;
    margin-bottom: 45px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.9);
    transition: all 0.15s ease;
    position: relative;
    */
    
    font-size: 34px;
    font-family: "modenine", monospace;
    border-style: solid;
    border-width: 1px;
    margin: auto;
    width: 250px;
    height: 150px;
    margin-bottom: 45px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.9);
    transition: all 0.15s ease;

}

.buttonStyle:hover {
    background-color: black;
    color: white;
}

.buttonStyle:active {
    transform: translate(5px, 5px);
    box-shadow: none;
}

.buttonStyle:hover::after {
    content: "";
    display: inline-block;
    width: 13px;
    height: 1.2em;
    margin-left: 6px;
    background-color: white;
    vertical-align: bottom;
    animation: blinkBW 0.8s steps(1, end) infinite;
}

#activeUserContainer {
    position: absolute;
    top: 1vh;
    right: .5vw;
    border-style: solid;
    border-width: 1px;
    width: 150px;
    height: 50px;
    text-align: center;
}

#operatorID {
    margin-top: 1vh;
    display: block;
    font-family: modenine, monospace;
}

#signOutBtn {
    display: block;
    font-family: modenine, monospace;
    margin: auto;
}

/********************************************************************************
* form_editor.html
********************************************************************************/

#formBuilderBody {
    font-family: modenine;
    background-color: #CCCCCC;
}


/********************************************************************************
* input_records.html
********************************************************************************/

#inputBody {
    font-family: modenine, monospace;
    background-color: #CCCCCC;
}

#centerPanel {
    position: absolute;
    top: 20%;
    left: 32.5%;
}

#formPanel {
    width: 35vw;
    border-style: double;
    position: relative;
    padding: 10px;
    background-color: #CCCCCC;
}

.panelHeader {
    position: absolute;
    top: -10px;
    left: 50%;
    background-color: #CCCCCC;
    transform: translateX(-50%);
    padding: 0 12px;
}

.functionality {
    margin: 0;
    width: fit-content;
    background-color: black;
    color: white;
    border-style: solid;
    border-width: 1px;
}

.bottomContainer {
    width: 99.85%;
}

#modeOptions {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 3.5vh;
}

#statusBar {
    background-color: black;
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    font-style: italic;
    position: fixed;
    bottom: 0;
    left: 0;
}

#statusBarOutput {
    margin: 0;
    font-size: 20px;
}

#formsList {
    font-style: italic;
}
/********************************************************************************
* verify_records.html
********************************************************************************/



/********************************************************************************
* viewer.html
********************************************************************************/


